body{
    padding:0;
    margin:0;
    font-family: 'PT Serif', serif;
    position:relative;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
@font-face {
    font-family: 'FugazOne-Regular';
    src: url(../fonts/FugazOne-Regular.ttf)format('truetype');
}
a:hover{
    text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: 'FugazOne-Regular';
}
p{
    margin:0;
    font-family: 'PT Serif', serif;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
/*--bottomner--*/
.banner{
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 900px;
}
/*--header--*/
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}
.events {
    list-style: none;
}
.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    width: 100%;
}
.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: -58%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 80px;
    width: 40px;
    margin-top: 4%;
    display:none;
}
.callbacks_nav:hover{
    opacity: 0.5;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 300px;
}
.callbacks_nav.prev {
    right: auto;
    background-position:left top;
    left: 300px;

}
#slider3-pager a {
    display: inline-block;
}
#slider3-pager span{
    float: left;
}
#slider3-pager span{
    width:100px;
    height:15px;
    background:#fff;
    display:inline-block;
    border-radius:30em;
    opacity:0.6;
}
#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius:30em;
    opacity:1;
}
#slider3-pager a {
    padding: 0;
}
#slider3-pager li{
    display:inline-block;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
    bottom: -30%;
    z-index: 0;
    right: -13%;
}
.slider-top span{
    font-weight:600;
}
.callbacks_tabs li{
    display: block;
    margin: 0.3em 0em;
}
@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    background:none;
    border:3px solid #fff;
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    border:3px solid #6cb9b3;
    background: #6cb9b3;
}
.banner-info {
    margin-top: 26em;
    text-align: center;
}
.banner-info h3 {
    font-size: 6em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.3em;
}
.top-nav {
    float: right;
    width: 4%;
    margin-top: .3em;
}

/*--menu--*/
button#showRightPush {
    border: none;
    background: rgba(255, 255, 255, 0.21);
    padding: 8px;
    outline: none;
    position: fixed;
    z-index: 1;
}
nav#cbp-spmenu-s2 {
    background:rgba(84, 84, 84, 1);
    text-align: center;
}
nav#cbp-spmenu-s2 a {
    color: #fff;
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    margin: 0;
    transition: .5s all;
    border-bottom: 1px dotted rgb(118, 118, 118);
    text-decoration: none;
}
nav#cbp-spmenu-s2 a:hover {
    text-decoration: none;
    color:#D3564A;
    background: none;
}
nav#cbp-spmenu-s2 a.active {
    color: #D3564A;
}
nav#cbp-spmenu-s2 h3 {
    background: #D3564A;
    color: #fff;
    font-size: 3em;
}


/*--Starts-Responsive--*/
@media (max-width:1440px){
    .banner {
        min-height: 824px;
    }
    .callbacks_tabs {
        bottom: -17%;
        right: -8%;
    }
    .banner-info h3 {
        font-size: 5.5em;
    }
}
@media (max-width:1366px){
    .banner {
        min-height:700px;
    }
    .banner-info {
        margin-top: 23em;
        text-align: center;
    }
    .callbacks_tabs {
        bottom: -29%;
        right: -5%;
    }
    ul.side-icons {
        border: none;
        margin-top: 4em;
    }
    h3.tittle {
        font-size: 2.7em;
    }
}
@media (max-width:1280px){
    .banner {
        min-height: 674px;
    }
    .banner-info h3 {
        font-size: 5em;
    }
    .callbacks_tabs {
        bottom: -29%;
        right: 1%;
    }
    ul.side-icons {
        border: none;
        margin-top: 3em;
    }
}
@media (max-width:1024px){
    .banner {
        min-height: 576px;
    }
    .banner-info {
        margin-top: 18em;
        text-align: center;
    }
    .banner-info h3 {
        font-size: 4.2em;
    }
}
@media (max-width:991px){
    .banner {
        min-height: 466px;
    }
    .banner-info {
        margin-top: 14em;
        text-align: center;
    }
    .banner-info h3 {
        font-size: 3.8em;
    }
}
@media (max-width:800px){
    .banner {
        min-height: 466px;
    }

    .banner-info {
        margin-top: 14em;
        text-align: center;
    }
    .banner-info h3 {
        font-size: 3.8em;
    }
}
@media (max-width:768px){
    .banner {
        min-height: 466px;
    }
}

@media (max-width:640px){
    .banner {
        min-height: 404px;
    }
    .banner-info h3 {
        font-size: 3em;
    }
    .banner-info {
        margin-top: 12em;
        text-align: center;
    }
    .callbacks_tabs {
        bottom: -26%;
        right: 5%;
    }
    .sb-search {
        position: absolute;
        top: 2em;
        right: 3em;
    }
    .banner-info h3 {
        font-size: 2.5em;
    }
}
@media (max-width:480px){
    .banner {
        min-height: 359px;
    }

    .banner-info {
        margin-top: 11em;
        text-align: center;
    }
}
@media (max-width:384px){
    .banner {
        min-height: 274px;
    }
    .banner-info {
        margin-top: 9em;
    }
    .banner-info h3 {
        font-size: 1.8em;
    }
    .callbacks_tabs li {
        display: block;
        margin: 0.1em 0em;
    }
    .callbacks_tabs a:after {
        height: 12px;
        width: 12px;
    }
}
@media (max-width:375px){
    .banner {
        min-height: 274px;
    }
    .banner-info {
        margin-top: 9em;
    }
    .banner-info h3 {
        font-size: 1.8em;
    }
    .callbacks_tabs li {
        display: block;
        margin: 0.1em 0em;
    }
    .callbacks_tabs a:after {
        height: 12px;
        width: 12px;
    }
}
@media (max-width:320px){
    .banner-info h3 {
        font-size: 1.6em;
    }
    .banner {
        min-height: 245px;
    }
    .banner-info {
        margin-top: 8em;
    }
    h3.tittle {
        font-size: 2em;
    }
}